#image1{
    margin: 220px;
    text-indent: 4em;/*to give 4 space*/
    margin-left: 250px;
    filter: invert(100%); /*to make imgame whhite*/
}
 #ind{
    margin-left: 250px;
    margin-top: -300px;
    font-size: 45px;
    font-weight: 100;
    color: white;
 }
 #log{
    margin-left: 250px;
    margin-top: -25px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    
 }
 #blend{
    background: #b92b27;  /* fallback for old browsers by using ui gradient */
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 68% 200%;
    background-repeat: no-repeat; 
    height: 670px;
    margin-top: -8px;
    margin-left: -10px;

}
#logo{
   margin: 250px;
   margin-top: -370px;
   margin-left:1050px;
}
#img2{
   width: 120px;
   margin: 5px;
   margin-top: -200px;
}
#para2{
   font-size: 22px;
   font-weight: bolder;
   margin: 5px;
   margin-left: 30px;
   white-space: nowrap; /*use to make a sentense in one line*/

}
#email{
   margin: 5px;
   margin-top: 100px;
   margin-left: -90px;
   border: 1px solid #ffffff;
   font-size: 17px;
   font-weight: 100;
}
hr{
   width: 330px;
   margin-left: -90px;
}
#button{
   width: 330px;
   margin-left: -90px;
   height: 40px;
   font-size: 15px;
   background-color: #39c;
   padding: 7px;
   border: 1px solid #39c;
   margin-top: 15px;
}
#radio{
   margin: 5px;
   margin-top: 20px;
   margin-left: -95px;
   width: 30px;
   height: 17px;
   border-radius: 15px;
}
#checkbox{
   color: #39c;
   margin: -9px;
   font-size: 17px;
   
}
   
#text1{
   color: #39c;
   margin: -20px;
   margin-left: 95px;
   white-space: nowrap;
   font-size: 17px;
}
#button2{
   margin: 40px;
   width: 330px;
   font-size: 15px;
   padding: 7px;
   border: 1px solid #39c;
   margin-top: 50px;
   margin-left: -90px;
   height: 40px;
   color: #39c;
}
#text3{
 margin: -20px;
 white-space: nowrap;
 font-size: 18px;
 margin-left: 10px;
 font-weight: 100;
}
#img3{
   width: 30px;
   margin-top: 40px;
   
   
}
#text4{
   margin: 50px;
   width: 310px;
   font-size: 19px;
   padding: 7px;
   border: 1px solid #39c;
   margin-top: -37px;
   margin-left: -90px;
   height: 25px;
   text-indent: 6em;
}
#text5{
   margin: 50px;
   margin-top: -35px;
   white-space: nowrap;
   margin-left: 20px;
   color: #39c;
}
